<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Store{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
        <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary btn-lg" href="{% url 'product_list' %}">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-lg" href="{% url 'order_list' %}">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-lg" href="{% url 'customer_list' %}">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary btn-lg" href="{% url 'admin:index' %}">Администрирование</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
            <p>Скоро тут появится текст...</p>
        {% endblock %}
    </div>
</body>
</html>
